/* CONTACTO */

/* Estilo para la sección de contacto */
.contact-section {
    display: flex;
    background-color: var(--varColor4);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  /* Estilo para el formulario de contacto */
  .contact-form {
    flex: 1;
    max-width: 60%;
    padding: 20px;
    border-radius: 10px;
  }
  
  .contact-form h1 {
    font-size: 44px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-input {
    margin: 10px 0;
  }
  
  .contact-input h2 {
    font-size: 18px;
  }
  
  .contact-input input,
  .contact-input textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-input textarea {
    height: 150px;
  }
  
  button {
    background-color: var(--varColor3);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /*!! Cambiar para que sea vertical de verdad? le puse vertical image pero en realidad es mas horizontal que vertical*/
  .vertical-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .vertical-image img {
    max-width: 100%;
    height: auto;
  }
  
  /* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .contact-section {
      flex-direction: column; /* Hace que la imagen y el formulario esten en columna en lugar de fila */
      align-items: center; /* Centramos verticalmente */
    }
  
    .vertical-image {
      order: -1; /* Cambiamos el orden para que la imagen esté arriba */
      margin-bottom: 20px; /* Agregamos espacio entre la imagen y el formulario */
    }
  }
  