<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'INDUMENTARIA' }) %>

<body class="home__body">
    <%- include('../partials/header') %>

    
    <div class="home__body__section--title">
        <h2>
            Próximamente: Indumentaria
        </h2>
    </div>

    </section>
    <%- include('../partials/footer') %>



</body>

</html>