<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'INDUMENTARIA' }) %>

    <body class="home__body">
        <%- include('../partials/header') %>



            <div class="home__body__section--title">
                <h2>
                    Indumentaria
                </h2>
            </div>

            <main class="product__main">
                <div class="header__search">
                    <form method="GET" action="/products/indumentaria">
                        <div class="navegador">
                            <input type="text" name="search" placeholder="Buscar por artista">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
                <div>
                    <button class="filter-button" id="filter-button"> <i class="fa-solid fa-filter fa-lg"></i></button>
                </div>
                <aside class="aside__vinilos__filter">
                    <h2>Filtrar productos</h2>
                    <form class="filter_form" action="/products/indumentaria" method="GET">
                        <div class="filter__section_vinilos">
                            <h3>Color</h3>
                            <div class="filter-field">
                                <label>
                                    <input type="checkbox" name="color" value="white">
                                    Blanco
                                </label>
                            </div>
                            <div class="filter-field">
                                <label>
                                    <input type="checkbox" name="color" value="black">
                                    Negro
                                </label>
                            </div>
                        </div>

                        <div class="filter__section_vinilos">
                            <h3>Talle</h3>
                            <div class="filter-field">
                                <label>
                                    <input type="checkbox" name="talle" value="small">
                                    Small
                                </label>
                            </div>
                            <div class="filter-field">
                                <label>
                                    <input type="checkbox" name="talle" value="medium">
                                    Medium
                                </label>
                            </div>
                            <div class="filter-field">
                                <label>
                                    <input type="checkbox" name="talle" value="large">
                                    Large
                                </label>
                            </div>
                        </div>

                        <div class="filter__section_vinilos">
                            <h3>Tipo de Manga</h3>
                            <div class="filter-field">
                                <label>
                                    <input type="checkbox" name="sleeve" value="small">
                                    Corta
                                </label>
                            </div>
                            <div class="filter-field">
                                <label>
                                    <input type="checkbox" name="sleeve" value="medium">
                                    Larga
                                </label>
                            </div>
                        </div>

                        <div class="filter__section_vinilos">
                            <h3>Ordenar por precio</h3>
                            <div class="filter-field">
                                <label>
                                    <input type="radio" name="ordenar" value="mayor-precio">
                                    Mayor a menor
                                </label>
                            </div>
                            <div class="filter-field">
                                <label>
                                    <input type="radio" name="ordenar" value="menor-precio">
                                    Menor a mayor
                                </label>
                            </div>
                        </div>
                        <button class="form__button-submit" type="submit">Aplicar filtros</button>
                    </form>
                </aside>

                <section class="product__main__cards_container">
                    <% shirts.forEach(({id, title, artist, price, discount, mainImage})=> { %>
                        <%- include('../partials/filterProductCard', {id, title, artist, price, discount, mainImage,
                            productType: 'remeras' }) %>
                            <% }) %>
                </section>

            </main>


            <script>
                $(document).ready(function () {
                    const filterButton = $("#filter-button");
                    const filterSection = $(".aside__vinilos__filter");

                    filterButton.click(function () {
                        filterSection.toggleClass("show");
                    });
                });
            </script>

            <%- include('../partials/footer') %>

    </body>

</html>