<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carrito</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/dcaef0d3ba.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    
</head>


<body>
    <header>

    </header>

    <main class="carrito">
        <div class="carrito__general">
            <section class="carrito__section">
                <h3>MUSICA EN TU CARRITO</h3>
                <article class="carrito__section__article" >
                
                    <div class="carrito__section__article--img">
                        <i class="fa-solid fa-trash" ></i>
                        <img src="/images/rhcpDisco.jfif" alt="">
                    </div>

                    <div        class="carrito__section__article--descripcion">
                        <h4>RHCP</h4>
                        <h4>Vinilo Blood Sugar Sex Magik</h4>
                        <h4>$ 25.000</h4>
                    </div>

                    <div                    class="carrito__section__article--cantidad">
                        <label for="unid">Cantidad :</label>
                        <select id="unid" name="unid">
                            <option value="1">1 </option>
                            <option value="2">2 </option>
                            <option value="3">3 </option>
                            <option value="4">4 </option>
                        </select>
                    </div>

                    <div class="carrito__section__article--iconos">
                        <i class="fa-solid fa-star" style="color: #837f01;"></i>
                        <p> TOTAL $25.000</p>
                    </div>
                </article>

            
            
            </section>
            <div class="carrito__div--compra">
                <p>TOTAL $25.000 </p>
                <button class="carrito__button">PROCESAR TU COMPRA</button>
            </div>    
        </div>
    </main>
    <footer>
        <section class="footer__section">
            <h3>ATENCION AL CLIENTE</h3>
            <article class="footer__section--preguntas">
                <ul>
                    <li>Quienes Somos?</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Contactanos</li>
                </ul>
            </article>

            <article class="footer__section--iconos">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-discord fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter fa-lg"></i></a></li>
                </ul>
            </article>
        </section>
            <div class="footer__copyright">
                <p>Copyright Creatives Diamond 2023</p>
            </div>

        
    </footer>
</body>
</html>