<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carrito</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/dcaef0d3ba.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    
</head>
<body>
    <footer>
        <section class="footer__section">
            <h3>ATENCION AL CLIENTE</h3>
            <article class="footer__section--preguntas">
                <ul>
                    <li>Quienes Somos?</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Contactanos</li>
                </ul>
            </article>

            <article class="footer__section--iconos">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-discord fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter fa-lg"></i></a></li>
                </ul>
            </article>
        </section>
            <div class="footer__copyright">
                <p>Copyright Creatives Diamond 2023</p>
            </div>

        
    </footer>
</body>