<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <script src="https://kit.fontawesome.com/6f4f4fce15.js" crossorigin="anonymous"></script>
</head>

<body class="home__body">
    <header>header</header>
    <div class="home__carrousel">
        <!-- CARROUSEL -->
    </div>
    <div class="home__body__menu">
        <a href="">Vinilos</a>
        <a href="">Indumentaria</a>
        <a href="">Promociones</a>
        <a href="">Próximos Conciertos</a>
    </div>
    <section class="home__body__section">
        <h2>
            Ofertas Exclusivas
        </h2>
        <article class="home__body__card"> <!-- CARD -->
            <div class="home__body__card__image">
                <img src="/images/product01.jpg" alt="Imagen del Producto">
            </div>
            
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="/images/product02.jpg" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="/images/product03.webp" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="/images/product04.webp" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="/images/product05.webp" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="/images/product06.webp" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
    </section>
    <section class="home__body__section">
        <h2>
            Novedades
        </h2>
        <article class="home__body__card"> <!-- CARD -->
            <img src="" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <img src="" alt="Imagen del Producto">
            <div class="home__body__card_info">
                <h3>Nombre del Producto</h3>
                <h5>Precio</h5>
                <h3>Precio Final</h3>
                <h4>Descuento</h4>
            </div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </article>
    </section>
    <footer>Footer</footer>
</body>

</html>