<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/6f4f4fce15.js" crossorigin="anonymous"></script>
</head>

<body class="home__body">
    <header class="home__body__header">este es el header</header>
    <!-- CARROUSEL -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="home__banner--box-image" style="background-image: url('/images/banner/banner01.png');">
                </div>


            </div>
            <div class="carousel-item">
                <div class="home__banner--box-image" style="background-image: url('/images/banner/banner02.png');">
                </div>


            </div>
            <div class="carousel-item">
                <div class="home__banner--box-image" style="background-image: url('/images/banner/banner03.png');">
                </div>


            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




    <div class="home__body__menu">
        <a href=""><i class="fa-solid fa-compact-disc"></i> Vinilos</a>
        <a href=""><i class="fa-solid fa-shirt"></i> Indumentaria</a>
        <a href=""><i class="fa-solid fa-percent"></i> Promociones</a>
        <a href=""><i class="fa-solid fa-ticket"></i> Próximos Conciertos</a>
    </div>
    <section class="home__body__section">
        <div class="home__body__section--title">
            <h2>
                Ofertas Exclusivas
            </h2>
        </div>

        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product01.jpg" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_info">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5>$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4>-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product02.jpg" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_info">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5>$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4>-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product03.png" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_info">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5>$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4>-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product04.png" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_info">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5>$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4>-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product05.png" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_info">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5>$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4>-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product06.webp" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_info">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5>$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4>-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>

    </section>
    <section class="home__body__section">
        <div class="home__body__section--title">
            <h2>
                Novedades
            </h2>
        </div>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product01.jpg" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_2">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5 class="home__body__card_info_h5">$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4 class="home__body__card_info_discount_h4">-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product02.jpg" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_2">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5 class="home__body__card_info_h5">$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4 class="home__body__card_info_discount_h4">-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product03.png" alt="Imagen del Producto">
                <div class="home__body__card_2">
                    <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                    <h5 class="home__body__card_info_h5">$15.000</h5>
                    <div class="home__body__card_info_discount">
                        <h3>$13.500</h3>
                        <h4 class="home__body__card_info_discount_h4">-10%</h4>
                    </div>
                </div>
                <div class="home__body__card__icons">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product04.png" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_2">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5 class="home__body__card_info_h5">$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4 class="home__body__card_info_discount_h4">-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product05.png" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_2">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5 class="home__body__card_info_h5">$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4 class="home__body__card_info_discount_h4">-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
        <article class="home__body__card"> <!-- CARD -->
            <figure class="home__body__card__figure"> <img src="/images/product06.webp" alt="Imagen del Producto">
            </figure>
            <div class="home__body__card_2">
                <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                <h5 class="home__body__card_info_h5">$15.000</h5>
                <div class="home__body__card_info_discount">
                    <h3>$13.500</h3>
                    <h4 class="home__body__card_info_discount_h4">-10%</h4>
                </div>
            </div>
            <div class="home__body__card__icons">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </article>
    </section>
    <footer class="footer_provisorio">Footer</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>