<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/6f4f4fce15.js" crossorigin="anonymous"></script>
</head>

<body class="home__body">

    <header class="header">
        <div class="header__logo">
            <img src="/images/logo.jpg" alt="LOGO">
        </div>
        <div class="header__burger">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="header__navbar">
            <ul class="header__navbar__ul">
                <li><a href="">Vinilos</a></li>
                <li><a href="">Indumentaria</a></li>
                <li><a href="">Próximos Conciertos</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/registro">Registrarme</a></li>
            </ul>
        </nav>
        <div class="header__container_icons">
            <a href=""><i class="fa-solid fa-user"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>

        </div>
   



    </header>




    <div class="header__search">
        <input type="text"> <i class="fa-solid fa-magnifying-glass"></i>
    </div>





    <!-- CARROUSEL -->
    <div class="home__container__carousel">
        <input class="home__carousel__input" type="radio" name="image-slide" id="1" hidden>
        <input class="home__carousel__input" type="radio" name="image-slide" id="2" hidden>
        <input class="home__carousel__input" type="radio" name="image-slide" id="3" hidden>
        <div class="home__carousel">
            <div class="home__carousel__item">
                <img src="/images/banner/banner04.png" alt="">
            </div>
            <div class="home__carousel__item">
                <img src="/images/banner/banner05.png" alt="">
            </div>
            <div class="home__carousel__item">
                <img src="/images/banner/banner06.png" alt="">
            </div>
            <div class="home__carousel__item">
                <img src="/images/banner/banner07.png" alt="">
            </div>
            <div class="home__carousel__item">
                <img src="/images/banner/banner08.png" alt="">
            </div>
            <div class="home__carousel__item">
                <img src="/images/banner/banner09.png" alt="">
            </div>
        </div>
        <div class="home__carousel__pagination">
            <label class="home__carousel__pagination-item" for="1">
                <img src="/images/product01.jpg" alt="">
            </label>
            <label class="home__carousel__pagination-item" for="2">
                <img src="/images/product02.jpg" alt="">
            </label>
            <label class="home__carousel__pagination-item" for="3">
                <img src="/images/product03.png" alt="">
            </label>
        </div>
    </div>




    <div class="home__body__menu">
        <a href=""><i class="fa-solid fa-compact-disc"></i> Vinilos</a>
        <a href=""><i class="fa-solid fa-shirt"></i> Indumentaria</a>
        <a href=""><i class="fa-solid fa-percent"></i> Promociones</a>
        <a href=""><i class="fa-solid fa-ticket"></i> Próximos Conciertos</a>
    </div>


    <section class="home__body__section">
        <div class="home__body__section--title">
            <h2>
                Ofertas Exclusivas
            </h2>
        </div>


        <!-- Slide ofertas -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product01.jpg"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product02.jpg"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product03.png"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product04.png"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product05.png"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product06.webp"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>


    </section>
    <section class="home__body__section">
        <div class="home__body__section--title">
            <h2>
                Novedades
            </h2>
        </div>

        <!-- Slide ofertas -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product01.jpg"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product02.jpg"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product03.png"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product04.png"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product05.png"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="home__body__card"> <!-- CARD -->
                        <figure class="home__body__card__figure"> <img src="/images/product06.webp"
                                alt="Imagen del Producto">
                        </figure>
                        <div class="home__body__card_info">
                            <h3 class="home__body__card_info_name">Nombre del Producto</h3>
                            <h5>$15.000</h5>
                            <div class="home__body__card_info_discount">
                                <h3>$13.500</h3>
                                <h4>-10%</h4>
                            </div>
                        </div>
                        <div class="home__body__card__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </section>
    <footer>
        <section class="footer__section">
            <h3>ATENCION AL CLIENTE</h3>
            <article class="footer__section--preguntas">
                <ul>
                    <li>Quienes Somos?</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Contactanos</li>
                </ul>
            </article>

            <article class="footer__section--iconos">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-discord fa-lg"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter fa-lg"></i></a></li>
                </ul>
            </article>
        </section>
            <div class="footer__copyright">
                <p>Copyright Creatives Diamond 2023</p>
            </div>

        
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                481: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 50,
                },
            },
        });
    </script>

</body>

</html>