<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/6f4f4fce15.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="header__logo">
            <img src="/images/logo.jpg" alt="LOGO">
        </div>
        <div class="header__burger">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="header__navbar">
            <ul class="header__navbar__ul">
                <li><a href="">Vinilos</a></li>
                <li><a href="">Indumentaria</a></li>
                <li><a href="">Próximos Conciertos</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/registro">Registrarme</a></li>
            </ul>
        </nav>
        <div class="header__container_icons">
            <a href=""><i class="fa-solid fa-user"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>

        </div>
   



    </header>


    <main class="form__main">
        <div class="form__title">
            <h1>Registrate</h1>
        </div>
        <div class="form__container">
            <form class="form__box" action="#" method="post">
                <div class="form__box__field">
                    <label class="form-label" for="name">Nombre:</label>
                    <input class="form-control" type="text" id="name" name="name">
                </div>
                <div class="form__box__field">
                    <label class="form-label" for="surname">Apellido:</label>
                    <input class="form-control" type="text" id="surname" name="surname">
                </div>
                <div class="form__box__field-email">
                    <label class="form-label" for="email">Email:</label>
                    <input class="form-control" type="email" id="email" name="email">
                </div>
                <div class="form__box__field">
                    <label class="form-label" for="password">Contraseña:</label>
                    <input class="form-control" type="password" id="password" name="password">
                </div>
                <div class="form__box__field">
                    <label class="form-label" for="password2">Confirmar Contraseña:</label>
                    <input class="form-control" type="password" id="password2" name="password2">
                </div>
                <div class="form__button-container">
                    <button>Registrate con <i class="fa-brands fa-google"></i></button>
                    
                    <button class="form__button-submit" type="submit"><a href="/">Registrarme</a></button>
                </div>
               
                    
           
                <div class="form__p">
                    <p>¿Ya tienes cuenta? <a href="login">Ingresa</a></p>
                </div>
            </form>
          
        </div>





    </main>

    <footer class="footer_provisorio">Footer</footer>


</body>

</html>