/* MOBILE */

.home__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;

}




.home__container__carousel{
    display: none;
}



.home__body__menu {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.home__body__menu a {
    width: 40%;
    text-align: center;
    margin: 5px 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: 400;
    font-family: var(--tipografiaTitulos);
}

.home__body__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.home__body__section--title {
    background: rgb(3, 14, 67);
    background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
    width: 100%;
    text-align: center;

}

.home__body__section h2 {
    text-shadow: 2px 2px 2px var(--colorGris);
    margin: 5px;
    color: #ffffff;

}



.home__body__card {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 5px 25px #292828;
    width: 90%;
    margin: 0 auto;
}

/* .home__body__card:hover{
        box-shadow: 5px 5px 50px blue;
    } */

.home__body__card__figure {}

.home__body__card img {
    width: 100%;
    margin-top: 1rem;
    object-fit: cover;
    height: 150px;
}

.home__body__card_info {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.home__body__card_info_name {}

.home__body__card_info_discount {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.home__body__card_info h3 {
    font-size: 18px;
}

.home__body__card_info h5 {
    text-decoration: line-through;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 12px;
    color: var(--colorGris);
}

.home__body__card_info_h5 {
    display: none;
}

.home__body__card_info h4 {
    font-weight: 400;
    color: green;
    font-size: 15px;
}

.home__body__card_info_discount_h4 {
    display: none;
}

.home__body__card__icons {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;

}






/* TABLET */
@media(min-width:481px) {
   
    .home__container__carousel{
        display: flex;
    }
    .home__body__menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home__body__menu a {
        width: 48%;
        text-align: center;
        gap: 1%;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        font-weight: 400;
        font-family: var(--tipografiaTitulos);
        text-align: center;
    }

    .home__body__menu i {
        width: 100%;
    }

    .home__body__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        width: 100%;
    }

    .home__body__card {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .home__body__card img {
        height: 200px;
        object-fit: contain;
    }
    
}



/* DESKTOP */
@media(min-width:1024px) {
    .home__body {}

  

    .home__body__menu {
        display: none;
    }

    .home__body__section {
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        align-items: center;
        justify-content: space-evenly;
        gap: 8%;
    }

    .home__body__section--title {
        width: 100%;
        text-align: center;
    }

    .home__body__card {
        width: 90%;
        margin: 1rem auto;
    }
    .home__body__card img {
        height: 300px;
        object-fit: contain;
    }

}