.producto{
    margin: 0 ;
    margin-top: 20px;
}
    /*.home__body__section--title {
        background: rgb(3, 14, 67);
        background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
        width: 100%;
        text-align: center;
    
    }
    
    .home__body__section h2 {
        text-shadow: 2px 2px 2px var(--colorGris);
        margin: 5px;
        color: #ffffff;*/
    



.producto__section--producto{

/* background: rgb(3, 14, 67); */

background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);

width: 90vw;

margin: auto;

height: 640px;
}
/* The grid: Four equal columns that floats next to each other */
/* The grid: Four equal columns that floats next to each other */
.column {
    
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    
    width: 100%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.288);
    object-fit: cover;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
    width: 50%;

  }
  
  /* Expanding image text */

  

  
.producto__imagenes{
    display: flex;
}
.row{
    display: flex;
    
}
.producto__section__article{
    
}
.producto__section__article--imgPrincipal{
    
}
.producto__section__article--imgPrincipal img{
      
    }
.producto__section__article--imgSecundaria{
    
}

.producto__section__article--descripcion{

text-align: center;
}
.producto__section__article--enlaces{

}
.producto__section__article--enlaces ul{
    
}
.producto__section__article--enlaces li{
    
}
.producto__section--detalles{
    width: 90vw;
    margin: auto;
    color: black;
}
.producto__section--general{
    
}
.producto__section--form{color: crimson;}
.producto__section--form-tarjetas{
    
}
.producto__title{
    color: darkgrey;
}
#conteItemsCarrusel{
    
height: 200px;
    
overflow: hidden;
    
/* margin: auto; */
}
h3{
    color: darkgrey;
}
.itemCarrusel{   
    height: 100%;
    position: relative;
    margin-bottom: 5px;
    
}
.tarjetaCarrusel{
    background-color: grey;
    height: 100%;
    /* margin: 0 auto; */
}
.tarjetaCarrusel img{
    width: 390px;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);
}
.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#tarjetaCarrusel1{
    
display: flex;
    
justify-content: center;
}
#tarjetaCarrusel2{
    display: flex;
    
justify-content: center;
}
#tarjetaCarrusel3{
    display: flex;
    
justify-content: center;    
}
#puntos{
    text-align: center;
}

/* TABLET */
@media(min-width:481px){
    .producto__section__article{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 50vw;
    }
    .producto__section--producto{
        
    height: 74vh;
    }    
.producto__imagenes{
    display: flex;
}
.row{
    display: flex;
    flex-direction: column;
}    
    
    .producto__section__article--enlaces{
    }
    producto__section__article--enlaces ul{
        
    }
    .producto__section__article--imgPrincipal{
        width: 65%;
        height: 100%;
    }
    .producto__section__article--imgPrincipal img{
        width: 100%;
        height: 100%;
        }
    .producto__section__article--imgSecundaria{
        display: flex;
        flex-direction: column;
        width: 20%;
        background-color: white;
        /* align-items: baseline; */
        justify-content: space-evenly;
    }
    .producto__section__article--imgSecundaria img{
        
width: 100%;
    }
    .producto__section__article--descripcion{

width: 100%;

}
    .producto__section__article--enlaces{
        /* display: flex; */
        /* flex-direction: column; */
    }
    .producto__section__article--enlaces ul{
    display: flex;
    justify-content: center;
    gap: 73px;
    padding-top: 15px;
    font-size: xx-small;
    }
    .producto__section__article--descripcion button{

        font-size: x-large;
        
        background-color: black;
        
        color: white;
        
        border-radius: 26px;
    
    }
    .producto__section__article--descripcion p {

color: white;

font-size: xx-large;
}
}




/* DESKTOP */
@media(min-width:1024px){
    .producto__section__article{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 50vw;
    }
    .producto__section--producto{
        
height: 80vh;
    } 
    .producto__section__article--imgPrincipal{
        width: 60%;
        height: 100%;
    }
    .producto__section__article--imgPrincipal img{
        width: 100%;
        height: 100%;
        }
    .producto__section__article--imgSecundaria{
        display: flex;
        flex-direction: column;
        width: 20%;
        background-color: white;
        /* align-items: baseline; */
        justify-content: space-evenly;
    }
    .producto__section__article--imgSecundaria img{
        
width: 100%;
    }
    .producto__section__article--descripcion{

width: 18%;

margin-top: 0;

/* display: flex; */

background-color: white;
}
    .producto__section__article--enlaces{
        display: inline;
        width: 100%;
    }

    .producto__section__article--descripcion button{

font-size: x-large;

background-color: black;

color: white;

border-radius: 26px;
}
    .producto__section__article--descripcion p{

font-size: xxx-large;

}
.producto__section--form-tarjetas{display: inline-grid;}
.tarjetaCarrusel img{
    
width: 600px;
}

}
