@media (max-width: 768px) {
    .notices-mobile{
        display: flex;
        flex-direction: column;
        justify-content:center ;
    }
}

/* Estilos para el contenedor de la primera sección de noticias */
        .Noticias-PrimeraSeccion {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 20px;
            width: 80%; /* Ancho del contenedor */
        }

        /* Estilos para cada objeto de noticias */
        .notices-Suscribete{
            text-align: center
        }

        .notices-stats{
            text-align: left;
            margin-top: 40px;
            margin-left: 5px;
        }


        .notices-writers {
            text-align: left;
            margin-top: 12px;
            padding: 20px;
        }

        .noticessYSuscribe {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        

        /* Estilo para la imagen del grupo */
        .notices-object img {
            width: auto;
            height: 400px;
        }

        /* Estilo para la imagen del escritor */
        .writer img {
            width: 25px;
            height: 25px;
        }

        /* Estilos para el contenedor de noticias */
        .noticias-grupo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 80%; /* Ancho del contenedor */
        }

        /* Estilos para cada noticia individual */
        .noticias-individual {
            text-align: center;
            padding: 20px;
            flex: 2; /* Para que haya 2 noticias por fila */
            width: 45%; /* Ancho de cada noticia */
            margin: 10px;
        }

        /* Estilo para la imagen de la noticia */
        .noticias-individual img {
            width: 265px;
            height: 170px;
        }


/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    /* Cambia la dirección de flexión a columna para los objetos de noticias */
    .Noticias-PrimeraSeccion {
        flex-direction: column;
        text-align: center;
    }

    .notices-stats, .notices-writers {
        text-align: center; /* Centra el texto en pantallas más pequeñas */
        margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
        padding: 0; /* Elimina el relleno en pantallas más pequeñas */
    }

    .notices-object img {
        width: 280px; /* Ajusta el ancho de la imagen del grupo */
        height: 280px; /* Ajusta la altura de la imagen del grupo */
    }

    .notices-individual {
        width: 90%; /* Ajusta el ancho de las noticias individuales */
        margin: 20px auto; /* Centra las noticias individuales */
    }
}
