.aside__vinilos__filter {
    display: none;
}

.filter__section_vinilos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.filter_form {}
.show {
    display: block;
}

.filter-button{
    padding: 3px;
    margin-left: 5px;
    background: none;
    border: none;
}
.product__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.product__main__cards_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.product__main__cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.product__body__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 10px 5px 25px #292828;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}

.producto__section__article--enlaces a{
 color: white;
 font-size: 0.9rem;
 padding: 0rem 0.2rem;
 border: solid;
 border-radius: 0.5rem;
 margin: 0rem 0.2rem;
}
/* .product__body__card:hover{
        box-shadow: 5px 5px 50px blue;
    } */

.product__body__card__figure {}

.product__body__card img {
    width: 100%;
    margin-top: 1rem;
    object-fit: cover;
    height: 150px;
}

.product__body__card_info {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.contenedor-producto-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-producto-article-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.product__body__card_info_discount {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.product__body__card_info h3 {
    font-size: 18px;
}

.product__body__card_info h5 {
    text-decoration: line-through;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 12px;
    color: var(--colorGris);
}

.product__body__card_info_h5 {
    display: none;
}

.product__body__card_info h4 {
    font-weight: 400;
    color: green;
    font-size: 15px;
}

.product__body__card_info_discount_h4 {
    display: none;
}

.product__body__card__icons {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;

}

.product__body__card__button {
    margin: 1rem auto;
    border: solid 1px #000;
    border-radius: 8px;
    padding: 5px;
    transition: box-shadow 0.5s ease;
}

.product__body__card__button:hover {
    box-shadow: 3px 4px 3px #1F857E;
}

.producto__section--productos{
    background: rgb(3, 14, 67);
    background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
    width: 91vw;
    margin: auto;
    height: 511px;
    padding: 13px;
    border-radius: 0.5rem;
}

@media (min-width: 480px) {
    .aside__vinilos__filter {
        padding-left: 5px;
        width: 20%;
    }

    .product__main__cards_container {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product__body__card {
        width: 30%;
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .product__body__card img {
        height: 200px;
        object-fit: contain;
    }

    .contenedor-producto-detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1.5rem;
    }
    
    .contenedor-producto-article-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

}

@media (width>481px) and (width<786px) {
    .filter-button{
        display: none;
    }
    .product__main__cards_container {
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
    }

    .product__body__card {
        width: 30%;
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .product__body__card img {
        height: 200px;
        object-fit: contain;
    }

    .aside__vinilos__filter {
        display: block;
        padding-left: 1rem;
        width: 20%;

    }

    .contenedor-producto-detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .contenedor-producto-article-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .producto__section--productos {
        background: rgb(3, 14, 67);
        background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
        width: 91vw;
        margin: auto;
        height: 560px;
        padding: 13px;
        border-radius: 0.5rem;
    }

    .producto__section--producto {
        background: rgb(3, 14, 67);
        background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
        width: 91vw;
        margin: auto;
        height: 547px;
        padding: 13px;
        border-radius: 0.5rem;
    }

    .producto__section__article--enlaces a {
        color: white;
        font-size: 1rem;
        padding: 0rem 0.2rem;
        border: solid;
        border-radius: 0.5rem;
    }

}




@media (width >= 1024px) {
    .product__body__card {
        width: 25%;
        margin: 1rem auto;
        flex-direction: row;
        padding: 1rem;
    }

    .product__body__card img {
        height: 300px;
        object-fit: contain;
    }

    .product__body__section2 h5 {
        text-decoration: none;
    }

    .contenedor-producto-detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;
        align-items: center;
    }
    
    .contenedor-producto-article-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .producto__section--productos {
        background: rgb(3, 14, 67);
        background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
        width: 91vw;
        margin: auto;
        height: 511px;
        padding: 13px;
        border-radius: 0.5rem;
    }

    .producto__section--producto {
        background: rgb(3, 14, 67);
        background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
        width: 91vw;
        margin: auto;
        height: 614px;
        padding: 13px;
        border-radius: 0.5rem;
    }

    .producto__section__article--enlaces a {
        color: white;
        font-size: 1rem;
    }

    .producto__section__article--enlaces a {
        color: white;
        font-size: 1rem;
        padding: 0rem 0.2rem;
        border: solid;
        border-radius: 0.5rem;
    }
}

@media (width>= 786px) and (width<1024px){

    .aside__vinilos__filter {
        padding-left: 5px;
        width: 20%;
    }

    .product__main__cards_container {
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product__body__card {
        width: 30%;
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .product__body__card img {
        height: 200px;
        object-fit: contain;
    }

    .contenedor-producto-detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .contenedor-producto-article-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .producto__imagenes--principal {
        /* position: relative; */
        display: flex;
        width: 439px;
        margin: auto;
        align-content: initial;
        height: 419px;
    }

    .producto__section--productos {
        background: rgb(3, 14, 67);
        background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
        width: 91vw;
        margin: auto;
        height: 736px;
        padding: 13px;
        border-radius: 0.5rem;
    }

    .producto__section--producto {
        background: rgb(3, 14, 67);
        background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
        width: 91vw;
        margin: auto;
        height: 735px;
        padding: 13px;
        border-radius: 0.5rem;
    }

    .producto__section__article--enlaces li {
        border-radius: 0.5rem;
        padding: 0rem 1.2rem;
    }

    .producto__section__article--enlaces a {
        color: white;
        font-size: 1.7rem;
        padding: 0rem 0.2rem;
        border: solid;
        border-radius: 0.5rem;
    }
}
