.form__main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    color: #000;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 1rem auto;
    box-shadow: 1px 1px 3px #000;
}
.form__title{
    width: 100%;
    text-shadow: 2px 2px 4px var(--colorVerde);
    margin: 5px;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.8rem;
}

.form__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    
}
.form__box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    

}
.form__box__field{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.form__box__field-email{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.form-label {
    font-size: 0.7rem;
}
.form-control{
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px var(--colorAzul);
    font-size: 0.5rem;
    
}
.form-control:focus{
    box-shadow: 1px 1px 3px var(--colorVerde);
    outline: none;
}
.form-check{
    margin-left: 5px;
    font-size: small;
    margin-top: 5px;
}
.form__button-container{
    display: flex;
    justify-content: space-around;
margin-bottom: 1rem;
gap: 1rem;
}
.form__button-submit{
    padding: 8px 10px;
    background: linear-gradient(158deg, rgba(4, 0, 0, 1) 16%, rgba(3, 14, 67, 1) 39%, rgba(20, 68, 115, 1) 75%, rgba(31, 133, 126, 1) 89%);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    transition: background 1s ease, box-shadow 0.3s ease;
}
.form__button-submit a{
color: #ffffff;
}
.form__button-submit:hover{
    background: var(--colorVerde);
    box-shadow: 0px 0px 5px grey;
}
.form__p a{
    color: var(--colorVerde);
}
.form-field-select {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.form-select {
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    border: 1px solid silver;
}

.form-select:focus {
    box-shadow: 0px 0px 5px skyblue;
    outline: none;
}
.form__button-reset {
    padding: 8px 10px;
    color: #ffffff;
    background-color: rgb(177, 24, 24);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.form__button-reset:hover {
    background-color: red;
    box-shadow: 0px 0px 5px grey;
}


@media(min-width:481px){
    .form__main{
        width: 65%;
    }
    .form__container{
        flex-direction: column-reverse;
    }
    .form__box{
        align-items: center;
    }
    .form__box__field{
        width: 50%;
    }
    .form__box__field-email{
        width: 50%;
    }
}
@media(min-width:769px) {
    .form__main{
        width: 50%;
    }
    .form__box{
        justify-content: center;
    }
    .form__box__field{
        width: 40%;
    }
    .form__box__field-email{
        width: 70%;
    }
    .email-field-box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
    }
    .form-field-select{
        width: 40%;
    }
    .form__button-container{
        width: 100%;
    }
   
    .form-control{
        font-size: 0.5rem;
    }
    .form-field-gap-control{
        margin: 0;
    }
    .form__container-form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .form__title h1{
        font-size: 1.7rem;
    }
}
/* @media(min-width:1024px){
    .form__main{
        width: 35%;
        gap: 0.5rem;
    }
    .form__title h1{
        font-size: 1.7rem;
    }
    .form__box{
        gap: 3rem;
    }
} */