/* MOBILE */

.home__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    

}
.home__bienvenida{
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.contenedor__presentaciones{
    gap: 0;
    background-color: var(--varColor3);
    padding: 10px 0;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    
}
.presentacion__caja1{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 50%;
    max-height: 700px;
}
.presentacion__caja1 a{
    width: 50%;
   margin: 0;
   padding: 0;
}
.presentacion__caja1 a img{
   width: 100%;
   margin: 0;
   padding: 0;
} 
.presentacion__caja2{
    width: 50%;
    padding: 0;
    max-height: 700px;
}
.section__black{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
}
.section__black-index{
    background: rgb(4,0,0);
    background: linear-gradient(4deg, rgba(4,0,0,1) 85%, rgba(255,255,255,1) 100%);
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
}
.section__red {
    background-color: var(--varColor5);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff; 
}
.section__red-index {
    background-color: var(--varColor5);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
    clip-path: polygon(100% 16%, 100% 49%, 100% 100%, 0 100%, 0 17%, 31% 0);
 
}

.section__white{
    background-color: var(--varColor2);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.section__yellow{
    background-color: var(--varColor4);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.section__yellow-index{
    background-color: var(--varColor4);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    clip-path: polygon(48% 0, 64% 8%, 79% 0, 100% 11%, 100% 99%, 48% 100%, 0 100%, 0 7%, 20% 0, 36% 8%);
}




/* TABLET */
@media(min-width:481px) {
    .home__bienvenida{
        width: 100%;
        background-color: #000;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home__bienvenida img{
        height: 300px;
    }
  
}



@media (min-width:769px) {
    .contenedor__presentaciones{
       max-height: 800px;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    }
    .presentacion__caja1{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 50%;
        justify-content: center;
    }
    .presentacion__caja1 img{
       width: 50%;
       margin: 0;
       padding: 0;
       
    } 
    .presentacion__caja2{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding: 0;
        justify-content: center;
    }
    .presentacion__caja2 img{
        max-height: 800px;

    }
}


/* DESKTOP */
@media(min-width:1024px) {
   
    .home__bienvenida img{
        height: 350px;
    }

  

   

}