/* MOBILE */

.home__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    

}
.home__bienvenida{
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.contenedor__presentaciones{
    gap: 0;
    background-color: var(--varColor3);
    padding: 10px 0;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    
}
.presentacion__caja1{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 50%;
    max-height: 700px;
}
.presentacion__caja1 a{
    width: 50%;
   margin: 0;
   padding: 0;
}
.presentacion__caja1 a img{
   width: 100%;
   margin: 0;
   padding: 0;
} 
.presentacion__caja2{
    width: 50%;
    padding: 0;
    max-height: 700px;
}
.section__black{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
}
.btn {
    /* Establece el ancho deseado para el botón, por ejemplo, 200px */
    width: 200px;
    /* Otros estilos de tu botón, como colores y márgenes */
    background-color: #000;
    border: solid 1px #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 5px;
}
.section__red{
    background-color: var(--varColor5);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
}
.section__white{
    background-color: var(--varColor2);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.btn {
    /* Establece el ancho deseado para el botón, por ejemplo, 200px */
    width: 200px;
    /* Otros estilos de tu botón, como colores y márgenes */
    background-color: #000;
    border: solid 1px #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 5px;
}
.section__yellow{
    background-color: var(--varColor4);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}




/* TABLET */
@media(min-width:481px) {
    .home__bienvenida{
        width: 100%;
        background-color: #000;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .home__bienvenida img{
        height: 300px;
    }
  
}



@media (min-width:769px) {
    .contenedor__presentaciones{
       max-height: 800px;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    }
    .presentacion__caja1{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 50%;
        justify-content: center;
    }
    .presentacion__caja1 img{
       width: 50%;
       margin: 0;
       padding: 0;
       
    } 
    .presentacion__caja2{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding: 0;
        justify-content: center;
    }
    .presentacion__caja2 img{
        max-height: 800px;

    }
}


/* DESKTOP */
@media(min-width:1024px) {
   
    .home__bienvenida img{
        height: 350px;
    }

  

   

}