html {
  scroll-behavior: smooth;
}

.producto {
  margin: 0px;
  background-color: darkgrey;
  padding-top: 0.5rem;
}

/*.home__body__section--title {
        background: rgb(3, 14, 67);
        background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
        width: 100%;
        text-align: center;
    
    }
    
    .home__body__section h2 {
        text-shadow: 2px 2px 2px var(--colorGris);
        margin: 5px;
        color: #ffffff;*/




.producto__section--producto {
background: rgb(3, 14, 67);
background: linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
width: 90vw;
margin: auto;
height: 418px;
padding-top: 10px;
border-radius: 0.5rem;
}

/*---------------------------------------------------------------------*/
/* The grid: Four equal columns that floats next to each other */
/* The grid: Four equal columns that floats next to each other */
.producto__imagenes {
  display: flex;
  flex-wrap: wrap;
}

.producto__imagenes--secundarias {
  display: flex;
  width: 100%;
  justify-content: center;
}

.column {
  float: left;
  width: auto;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  width: 56px;
  object-fit: contain;
  height: 50px;
  background-color: white;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.producto__imagenes--secundarias:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.producto__imagenes--principal {
  /* position: relative; */
  display: flex;
  width: 205px;
  margin: auto;
  align-content: initial;
  background-color: white;
  height: 205px;
}

.producto__imagenes--principal img {

  background-color: white;

  /* width: 100%; */

  height: 100%;

  object-fit: contain;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/*------------------------------------------------------------------------*/
.producto__section__article {}

.producto__section__article--imgPrincipal {}

.producto__section__article--imgPrincipal img {}

.producto__section__article--imgSecundaria {}

.producto__section__article--descripcion {

  text-align: center;

  margin-top: 14px;
}

.producto__section__article--descripcion button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.producto__section__article--descripcion button:hover {
  background-color: #030E43;
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.5)
}

.producto__section__article--descripcion p {

  color: white;

  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
}

.producto__section__article--enlaces {
}

.producto__section__article--enlaces ul {
    padding: 0rem;
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}

.producto__section__article--enlaces li {}

.producto__section--detalles {
  width: 90vw;
  margin: auto;
  color: black;
}
.producto__section--general{
  
margin-top: 30px;
}
.producto__section--general h3 {
  color: black;
}
  
.producto__section--form {
  /* color: slategray; */
  margin-top: 50px;
  text-align: center;
  background-color:  linear-gradient(158deg, rgba(3, 14, 67, 1) 22%, rgba(20, 68, 115, 1) 67%, rgba(31, 133, 126, 1) 83%);
  background-image: linear-gradient(158deg, rgb(3, 14, 67) 22%, rgb(20, 68, 115) 67%, rgb(31, 133, 126) 83%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  padding-top: 18px;
  padding-bottom: 24px;
  margin: auto;
  width: 290px;
  margin-top: 60px;
}
.producto__section--form i{
  color: gray;
}

.producto__section--form-tarjetas {

display: flex;

flex-direction: column;

width: 270px;

margin: auto;

margin-top: 15px;

color: white;
}

.producto__title {
  color: darkgrey;
  margin-top: 50px;
}

#conteItemsCarrusel {

  height: 200px;

  overflow: hidden;

  /* margin: auto; */
}

h3 {
  color: darkgrey;
}

.itemCarrusel {
  height: 100%;
  position: relative;
  margin-bottom: 5px;

}

.tarjetaCarrusel {
  background-color: grey;
  height: 100%;
  /* margin: 0 auto; */
}

.tarjetaCarrusel img {
  width: 390px;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);
}

.flechasCarrusel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#tarjetaCarrusel1 {

  display: flex;

  justify-content: center;
}

#tarjetaCarrusel2 {
  display: flex;

  justify-content: center;
}

#tarjetaCarrusel3 {
  display: flex;

  justify-content: center;
}

#puntos {
  text-align: center;
}

/* TABLET */
@media(min-width: 481px) {

  .producto__section--producto {

    height: 810px;
  }

  .producto__imagenes {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .producto__imagenes--secundarias {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
  }

  .column {
    /* float: left; */
    width: 70%;
    padding: 10px;
  }

  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    width: 90px;
    height: 80px;
    object-fit: contain;
    background-color: white;
  }

  .column img:hover {
    opacity: 1;
  }

  /* Clear floats after the columns */
  .producto__imagenes--secundarias:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The expanding image container (positioning is needed to position the close button and the text) */
  .producto__imagenes--principal {
    /* position: relative; */
    display: flex;
    width: 304px;
    margin: auto;
    align-content: initial;
    height: 260px;
  }

  .producto__imagenes--principal img {
    object-fit: contain;
  }

  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }

  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }






  .producto__section__article--descripcion {

    /* width: 100%; */
  }

  .producto__section__article--enlaces {
    /* display: flex; */
    /* flex-direction: column; */
  }

  .producto__section__article--enlaces ul {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding-top: 15px;
    font-size: 23px;
  }

  .producto__section__article--descripcion button {

    font-size: x-large;

    background-color: black;

    color: white;

    border-radius: 26px;

    padding: 10px;
  }

  .producto__section__article--descripcion p {

    color: white;

    font-size: xx-large;
  }
}




/* DESKTOP */
@media(min-width:1024px) {
  .producto__section--producto {

    height: 1030px;
  }

  .producto__imagenes {
    display: flex;
    flex-wrap: nowrap;
  }

  .producto__imagenes--secundarias {
    display: flex;
    width: 176px;
    flex-direction: column;
  }

  .column {
    padding: 12px;
    height: 140px;
    width: 143px;
  }

  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    object-fit: contain;
    height: 100%;
  }

  .column img:hover {
    opacity: 1;
  }

  /* Clear floats after the columns */
  .producto__imagenes--secundarias:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The expanding image container (positioning is needed to position the close button and the text) */
  .producto__imagenes--principal {
    /* position: relative; */
    display: flex;
    width: 330px;
    margin: auto;
    height: 330px;
  }

  .producto__imagenes--principal img {
    object-fit: contain;
    height: 100%;
  }

  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }

  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .producto__section__article--imgPrincipal {
    width: 60%;
    height: 100%;
  }

  .producto__section__article--imgPrincipal img {
    width: 100%;
    height: 100%;
  }

  .producto__section__article--imgSecundaria {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    /* align-items: baseline; */
    justify-content: space-evenly;
  }

  .producto__section__article--imgSecundaria img {

    width: 100%;
  }

  .producto__section__article--descripcion {
/* width: 30%; */
/* margin-top: 0; */
/* display: flex; */
background-color: transparent;
margin: auto;
}

  .producto__section__article--enlaces {
    display: inline;
    width: 100%;
  }

  .producto__section__article--enlaces ul {

    font-size: xx-large;
  }

  .producto__section__article--descripcion button {
font-size: 15px;
background-color: black;
color: white;
border-radius: 26px;
width: 204px;
}

  .producto__section__article--descripcion p {
font-size: 33px;
}

  .producto__section--form-tarjetas {
    display: inline-grid;
  }

  .tarjetaCarrusel img {

    width: 600px;
  }

  #conteItemsCarrusel {

    height: 400px;
  }




  .producto__section__article--enlaces {}

  .producto__section__article--enlaces ul {}

  .producto__section__article--enlaces li {}

  .producto__section--detalles {
    width: 90vw;
    margin: auto;
    color: black;
  }

  .producto__section--general {}

  .producto__section--form {
    color: white;
    margin-top: 50px;
  }

  .producto__section--form-tarjetas {

    display: flex;

    flex-direction: column;

    width: 270px;
  }

  .producto__title {
    color: darkgrey;
    margin-top: 50px;
  }

  #conteItemsCarrusel {

    height: 315px;

    overflow: hidden;

    margin: auto;
    width: 740px;

  }

  .producto__section--producto h3 {
    color: grey;
  }

  .itemCarrusel {
    height: 100%;
    position: relative;
    margin-bottom: 5px;
  }

  .tarjetaCarrusel {
    background-color: grey;
    height: 100%;
    /* margin: 0 auto; */
  }

  .tarjetaCarrusel img {
    width: 390px;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);
  }

  .flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  #tarjetaCarrusel1 {

    display: flex;

    justify-content: center;
  }

  #tarjetaCarrusel2 {
    display: flex;

    justify-content: center;
  }

  #tarjetaCarrusel3 {
    display: flex;

    justify-content: center;
  }

  #puntos {
    text-align: center;
  }

}