<!DOCTYPE html>
<html lang="en">

    <body class="home__body">

        <%- include('partials/head',{ title : 'ARTISTAS' }) %>
            <div class="home__bienvenida">
                <img class="img-fluid" src="/artistas.png" alt="">
            </div>

            <div class="row mt-4 align-items-center section-artistas">
                <div class="col-12 col-md-6 text-center">
                    <h3>¡Todos nuestros artistas!</h3>
                    <h4>Busque por nombre de banda, disco, artista y letra de canción</h4>
                    <input class="search-artists" type="text" placeholder="Buscar...">
                </div>
                <div class="col-12 col-md-6 mt-4">
                    <div class="row text-center">
                        <div class="col-6 col-md-6"><b>Género 1</b></div>
                        <div class="col-6 col-md-6"><b>Género 2</b></div>
                        <div class="col-6 col-md-6"><b>Género 3</b></div>
                        <div class="col-6 col-md-6"><b>Género 4</b></div>
                        <div class="col-6 col-md-6"><b>Género 5</b></div>
                        <div class="col-6 col-md-6"><b>Género 6</b></div>
                    </div>
                </div>
            </div>

            <section class="section__black">
                <h2>Por año</h2>
                <p>¿Buscas el año de oro de un artista en particular?</p>
                <div class="col-12">
                    <!-- card -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img class="img-fluid" src="/images/rhcp.png" alt="">
                        </div>
                        <div class="col-12 col-md-6 artist-section-card-info">
                            <h5>Nombre de la banda</h5>
                            <p>Breve descripción de la banda</p>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img class="img-fluid" src="/images/nirvana.png" alt="">
                        </div>
                        <div class="col-12 col-md-6 artist-section-card-info">
                            <h5>Nombre de la banda</h5>
                            <p>Breve descripción de la banda</p>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img class="img-fluid" src="/images/Pink_Floyd_logo.png" alt="">
                        </div>
                        <div class="col-12 col-md-6 artist-section-card-info">
                            <h5>Nombre de la banda</h5>
                            <p>Breve descripción de la banda</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section__red">
                <h2>Por álbum</h2>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6"><img class="img-fluid" src="/images/guns.png" alt=""></div>
                        <div class="col-12 col-md-6">
                            <div class="row">

                                <div class="col-6 mb-2"><img class="img-fluid" src="/images/guns.png" alt="">
                                    <small class="text-white">Nombre del álbum</small>
                                </div>
                                <div class="col-6 mb-2"><img class="img-fluid" src="/images/guns.png" alt="">
                                    <small class="text-white">Nombre del álbum</small>
                                </div>
                                <div class="col-6 mb-2"><img class="img-fluid" src="/images/guns.png" alt="">
                                    <small class="text-white">Nombre del álbum</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section__white">
                <h2>Por banda y artista</h2>
                <div class="col-12">
                    <div class="row align-items-center">
                        <!-- card -->
                        <div class="col-12 col-md-4 align-items-center justify-content-center">
                            <div class="col-12">
                                <img class="img-fluid" src="/images/los-piojos.png" alt="">
                            </div>
                            <div class="col-12">
                                <h5>Nombre de banda</h5>
                                <ol>
                                    <li>Canción 1</li>
                                    <li>Canción 2</li>
                                    <li>Canción 3</li>
                                    <li>Canción 4</li>
                                    <li>Canción 5</li>
                                    <li>Canción 6</li>
                                </ol>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="col-12 col-md-4 align-items-center justify-content-center">
                            <div class="col-12">
                                <img class="img-fluid" src="/images/la-renga.png" alt="">
                            </div>
                            <div class="col-12">
                                <h5>Nombre de banda</h5>
                                <ol>
                                    <li>Canción 1</li>
                                    <li>Canción 2</li>
                                    <li>Canción 3</li>
                                    <li>Canción 4</li>
                                    <li>Canción 5</li>
                                    <li>Canción 6</li>
                                </ol>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="col-12 col-md-4 align-items-center">
                            <div class="col-12">
                                <img class="img-fluid" src="/images/patricio-rey.png" alt="">
                            </div>
                            <div class="col-12">
                                <h5>Nombre de banda</h5>
                                <ol>
                                    <li>Canción 1</li>
                                    <li>Canción 2</li>
                                    <li>Canción 3</li>
                                    <li>Canción 4</li>
                                    <li>Canción 5</li>
                                    <li>Canción 6</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section__yellow">
                <h2>Por letra</h2>
                <div class="col-12 align-items-center justify-content-center">
                    <!-- card -->
                    <div class="row mb-2 align-items-center" style="padding: 15px;">
                        <div class="col-12 col-md-6">
                            <img class="img-fluid" src="/images/arctic-monkeys.png" alt="">
                        </div>
                        <div class="col-12 col-md-6">
                            <h6>Nombre de canción</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit <b>parte de la canción
                                    buscada</b> voluptate voluptates! Id sed quas suscipit animi inventore autem, ipsum
                                laborum, officia blanditiis quibusdam fuga, assumenda at? Aut.</p>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="row mb-2 align-items-center" style="padding: 15px;">
                        <div class="col-12 col-md-6">
                            <img class="img-fluid" src="/images/tame-impala.png" alt="">
                        </div>
                        <div class="col-12 col-md-6">
                            <h6>Nombre de canción</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit <b>parte de la canción
                                    buscada</b> voluptate voluptates! Id sed quas suscipit animi inventore autem, ipsum
                                laborum, officia blanditiis quibusdam fuga, assumenda at? Aut.</p>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="row mb-2 align-items-center" style="padding: 15px;">
                        <div class="col-12 col-md-6">
                            <img class="img-fluid" src="/images/the-strokes.png" alt="">
                        </div>
                        <div class="col-12 col-md-6">
                            <h6>Nombre de canción</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit <b>parte de la canción
                                    buscada</b> voluptate voluptates! Id sed quas suscipit animi inventore autem, ipsum
                                laborum, officia blanditiis quibusdam fuga, assumenda at? Aut.</p>
                        </div>
                    </div>
                </div>
            </section>


    </body>
                    <!-- Pie de página -->
                    <%- include('partials/footer') %>



</html>