<!DOCTYPE html>
<html lang="en">

    <body class="home__body">

        <%- include('partials/head',{ title : 'Detalle de Artista' }) %>
        <%- include('partials/header') %>

            <section class="section__black">
                <h2>Esto es... nombre de banda</h2>
                <div class="col-10 p-3 text-center align-items-center">
                    <img src="/images/rhcp-band.jpg" alt="" class="img-fluid mb-3">
                    <h5>"Pay your surgeon very well to break the spell of aging."</h5>
                    <h6>-Californication</h6>
                </div>
                <div class="col-10 col-md-8 mt-5">
                    <div class="row align-items-center g-5">
                        <div class="col-12 col-md-6">
                            <h6>Fecha inicio/finalización de la banda</h6>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6>Número de conciertos realizados</h6>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6>Integrantes actuales</h6>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6>Próximo concierto</h6>
                        </div>
                    </div>
                    <div class="col-12 mt-5 p-5">
                        <h5>Historia de la banda:</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eligendi nesciunt quae quas
                            accusantium nobis vitae minus veritatis earum voluptas impedit saepe recusandae fuga
                            incidunt harum eos, ad nisi, possimus voluptate. Obcaecati, doloribus doloremque recusandae
                            error veritatis laudantium dolorum expedita accusantium accusamus in ipsam praesentium ea
                            impedit exercitationem officiis inventore ipsa consequuntur minus illo molestias fugit
                            nesciunt culpa eum reprehenderit! Molestias in quasi exercitationem fugiat facere dolores
                            quis sed corporis porro, ratione natus maxime itaque magni quia similique cumque, harum
                            possimus facilis et. Assumenda libero sapiente dolore possimus aut deserunt suscipit sed
                            odio eos ipsam eligendi, enim, a doloremque incidunt? Repellat tenetur quo accusamus
                            consequatur quidem aliquam fugiat officia, asperiores aliquid. Quas voluptatibus fugiat,
                            expedita atque magni optio esse ex sint? Eaque quisquam et tempora, illo, molestias porro
                            repellat modi pariatur totam ratione veritatis optio cumque dignissimos dolore, possimus
                            deserunt esse aliquid dolorem nesciunt. Reprehenderit sequi sunt nihil modi doloremque.</p>
                    </div>
                </div>
            </section>
           <section class="section__white">
    <div class="container">
        <div class="row justify-content-center mx-auto">
            <div class="col-8 col-md-4 mx-auto">
                <div class="card">
                    <img src="/images/red-hot-chili-peppers-unlimited-love.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Álbum</h5>
                        <p class="card-text">Año de publicación</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Género</li>
                        <li class="list-group-item"><b>PRECIO:</b> us$100</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="" class="btn btn-dark">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-4 text-center text-md-start">
                <h6>Lista de canciones:</h6>
                <ol class="Tracklist__ol">
                    <li>"Black summer"</li>
                    <li>"Here ever after"</li>
                    <li>"Aquatic mouth dance"</li>
                    <li>"Not the one"</li>
                    <li>"Poster child"</li>
                    <li>"The great apes"</li>
                    <li>"It's only natural"</li>
                    <li>"She's a lover"</li>
                    <li>"These are the ways"</li>
                    <li>"Whatchu thinkin'"</li>
                    <li>"Bastards of light"</li>
                    <li>"White braids & pillow chair"</li>
                    <li>"One way traffic"</li>
                    <li>"Veronica"</li>
                    <li>"Let 'em cry"</li>
                    <li>"The heavy wing"</li>
                    <li>"Tangelo"</li>
                </ol>
            </div>
            <div class="col-8 col-md-4 text-center text-md-start">
                <p><b>Reseña del álbum:</b></p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo esse voluptates aut fuga
                    debitis quo, suscipit ducimus libero corrupti iste, voluptatibus natus temporibus fugit
                    porro perspiciatis tenetur excepturi exercitationem. Alias neque quis nisi expedita
                    blanditiis corrupti voluptas earum, mollitia facere aspernatur temporibus repellat
                    perspiciatis, a dicta. Ipsam dignissimos repellendus, praesentium corrupti iste minima. A
                    eveniet nobis accusantium rerum ratione adipisci quibusdam, temporibus ipsa. Cum, dolore
                    similique maxime earum iusto pariatur atque ad reiciendis ut dolorum quaerat ullam
                    repellendus? Voluptatum, excepturi? Esse at cupiditate numquam aliquid repellat consequatur
                    harum dolore minima labore rerum magni ipsum magnam atque accusantium quia molestiae,
                    tempore unde. Provident, rem. Consectetur placeat autem cupiditate dolorem assumenda eaque
                    quaerat inventore ea dignissimos, itaque veniam a possimus est temporibus.
                </p>
                <p><b>Créditos del álbum:</b></p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi obcaecati nemo ipsam hic
                    nostrum id quae voluptates a cumque voluptatem.
                </p>
                <ul>
                    <li><b>Voz principal: </b> Anthony Kiedis</li>
                    <li><b>Guitarra y coros: </b> John Frusciante</li>
                    <li><b>Bajo: </b> Flea</li>
                    <li><b>Batería: </b> Chad Smith</li>
                </ul>
            </div>
        </div>
    </div>
</section>
            <section class="section__red">
                <div class="row mb-3 m-5">
                    <div class="col-6 col-md-4">
                        <img class="img-fluid w-50" style="border-radius: 50%;" src="/images/albums/rhcp-bloodSugar.jpg"
                            alt="">
                        <p><b>Nombre del álbum</b></p>
                        <small>Fecha de estreno</small>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid w-50" style="border-radius: 50%;" src="/images/albums/rhcp-byTheWay.jpg"
                            alt="">
                        <p><b>Nombre del álbum</b></p>
                        <small>Fecha de estreno</small>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid w-50" style="border-radius: 50%;"
                            src="/images/red-hot-chili-peppers-unlimited-love.jpg" alt="">
                        <p><b>Nombre del álbum</b></p>
                        <small>Fecha de estreno</small>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid w-50" style="border-radius: 50%;" src="/images/albums/rhcp-funkyStyle.jpg"
                            alt="">
                        <p><b>Nombre del álbum</b></p>
                        <small>Fecha de estreno</small>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid w-50" style="border-radius: 50%;" src="/images/albums/rhcp-mothersMilk.jpg"
                            alt="">
                        <p><b>Nombre del álbum</b></p>
                        <small>Fecha de estreno</small>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="img-fluid w-50" style="border-radius: 50%;" src="/images/albums/rhcp-theGateway.jpg"
                            alt="">
                        <p><b>Nombre del álbum</b></p>
                        <small>Fecha de estreno</small>
                    </div>
                </div>
            </section>
            <section class="section__white">
                <div class="row mt-3 p-3 justify-content-around mx-auto align-items-center">
                    <div class="col-8 col-md-4">
                        <div class="card align-items-center p-5">
                            <img src="/images/rhcp-remera1.jfif" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Nombre del producti</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Tipo de item</li>
                                <li class="list-group-item"><b>PRECIO:</b> us$100</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-8 col-md-6">
                        <p><b>Descripción: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, placeat
                            nostrum? Quam illum minus ratione. Doloribus aut cupiditate eaque doloremque.</p>
                    </div>
                    <div class="col-8 d-flex justify-content-evenly p-3">
                        <a href="" class="btn btn-dark">Botón de cantidad</a>
                        <a href="" class="btn btn-dark">Añadir al carrito</a>
                    </div>
                </div>
            </section>
            <section class="section__yellow">
                <div class="row m-3">
                    <div class="col-10 col-md-3 p-2 bg-white">
                        <img class="img-fluid" src="/images/rhcp-buzo.jpg" alt="">
                    </div>
                    <div class="col-10 col-md-3 p-2 bg-white">
                        <img class="img-fluid" src="/images/rhcp-correa.jpg" alt="">
                    </div>
                    <div class="col-10 col-md-3 p-2 bg-white">
                        <img class="img-fluid" src="/images/rhcp-gorra.jpg" alt="">
                    </div>
                    <div class="col-10 col-md-3 p-2 bg-white">
                        <img class="img-fluid" src="/images/rhcp-item1.jpg" alt="">
                    </div>
                    <div class="col-10 col-md-3 p-2 bg-white">
                        <img class="img-fluid" src="/images/rhcp-taza.jpg" alt="">
                    </div>
                    <div class="col-10 col-md-3 p-2 bg-white">
                        <img class="img-fluid" src="/images/rhcp-item1.jpg" alt="">
                    </div>
                    <div class="col-10 col-md-3 p-2 bg-white">
                        <img class="img-fluid" src="/images/rhcp-remera1.jfif" alt="">
                    </div>
                    <div class="col-10 col-md-3 p-2 bg-white">
                        <img class="img-fluid" src="/images/rhcp-buzo.jpg" alt="">
                    </div>
                </div>
            </section>


                    <!-- Pie de página -->
                    <%- include('partials/footer') %>
    </body>

</html>