<!DOCTYPE html>
<html>
<body>
    <%- include('partials/head', { title: 'Capsule' }) %>

    <%- include('partials/header') %>
    <div class="fans-banner">
        <h1 class="partial-textoPresentacion"> CAPSULA DEL TIEMPO</h1>
    <img class="fans-bannerImage" src="presentacion/presentacion-capsulaTiempo.png" alt="Banner de Fans">
    </div>











  <!-- Pie de página -->
  <%- include('partials/footer') %>
</body>

</html>
