<!DOCTYPE html>
<html>

<body>
    <%- include('partials/head', { title: '¡Contactanos!' }) %>
    <%- include('partials/header') %>


    <section class="contact-section" style="background-color: var(--varColor4);">
        <!-- Sección de contacto -->
        <div class="contact-form">
            <h1>Contactanos</h1>
            <div class="contact-input">
                <h2>Nombre</h2>
                <input type="text" placeholder="Nombre">
            </div>
            <div class="contact-input">
                <h2>Apellido</h2>
                <input type="text" placeholder="Apellido">
            </div>
            <div class="contact-input">
                <h2>Asunto</h2>
                <input type="text" placeholder="Asunto">
            </div>
            <div class="contact-input">
                <h2>Mensaje</h2>
                <textarea placeholder="Mensaje"></textarea>
            </div>
            <button style="background-color: var(--varColor3);">Enviar</button>
        </div>
        
        <!-- Imagen vertical a la derecha -->
        <div class="vertical-image">
            <img src="/logoCreativeSouls.png" alt="Banner Image">
        </div>
    </section>

     
    <!-- Pie de página -->
     <%- include('partials/footer') %>
    
</body>
</html>
