<!DOCTYPE html>
<html>
<body>
    <%- include('partials/head', { title: 'Fans' }) %>

    <%- include('partials/header') %>
    <div class="fans">
        <!-- Primera sección: BLANCO -->
        <div class="blanco">
            <!-- Primer objeto: banner -->
            <div class="fans-banner">
                <h1 class="partial-textoPresentacion"> PARA LOS FANS</h1>
            <img class="fans-bannerImage" src="presentacion/presentacion-paraFans.png" alt="Banner de Fans">
            </div>
            
           <div class="fans-test1">
            <!-- Segundo objeto: fans-testInfo -->
            <div class="fans-testInfoBotton">
            <div class="fans-testInfo">
                <h2>¿Qué clase de fan eres?</h2>
                <hr> <!-- Línea horizontal -->
                <p>¡Tómate un tiempo para realizar este dinámico test y descubre qué tipo de fan eres en cuanto a la música! Consigue recompensas como recomendaciones, descuentos y títulos comunitarios junto a tus resultados.</p>
            </div>
            <div class="fans-testButton">
                <button>¡Comenzar!</button>
            </div>
        </div>
            
        <!-- Tercer objeto: fans-presentacionTest -->
        <div class="fans-presentacionTest">
            <img src="presentacion/presentacion-paraFansTest.png" alt="Imagen de presentación del test para fans">
        </div>
        </div>
    </div>

    <div class="partial-Section1">
        <!-- Primer objeto: fans-seccionNegra-texto -->
        <div class="partial-Section1-texto">
            <h2>Productos populares</h2>
            <p>
                Esta zona está dedicada a los productos que tienen un gran número de ventas, un número que aumenta en uno por cada producto individual cada vez que una compra se concreta.
            </p>
        </div>

        <div class="partial-productDisplaySection">
            <!-- Primer objeto -->
            <div class="partial-productDisplay1">
                <img src="productos/productos-campera1.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-campera2.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-gorra.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-pick.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-remera1.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-remera2.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-stickers.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-taza.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
        
        </div>
        <div class="partial-buttonDisplay1">
            <button>VER LISTA COMPLETA</button>
        </div>
    </div>

    <div class="partial-Section2">
        <div class="partial-Section1-texto">
            <h2>Creative Souls exclusivos</h2>
            <p>
                ¡Los mejores productos que Creaitve Souls tiene para ofrecer!
            </p>
        </div>

        <div class="partial-productDisplaySection">
            <!-- Primer objeto -->
            <div class="partial-productDisplay1">
                <img src="productos/productos-campera1.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-campera2.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-gorra.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-pick.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-remera1.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-remera2.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-stickers.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-taza.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
        
        </div>
        <div class="partial-buttonDisplay1">
            <button>VER LISTA COMPLETA</button>
        </div>
    </div>

    <div class="partial-Section3">
        <!-- Primer objeto: fans-seccionNegra-texto -->
        <div class="partial-Section3-texto">
            <h2>Ofertas de la semana</h2>
            <p>
                ¡Aprovecha los descuentos de esta semana con nuestros productos de calidad!
                            </p>
        </div>

        <div class="partial-productDisplaySection">
            <!-- Primer objeto -->
            <div class="partial-productDisplay1">
                <img src="productos/productos-campera1.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-campera2.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-gorra.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-pick.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-remera1.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-remera2.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-stickers.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-taza.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
        
        </div>
        <div class="partial-buttonDisplay1">
            <button>VER LISTA COMPLETA</button>
        </div>


        <div class="fans-seccionAmarilla">
            <!-- Objeto 1: fans-testStats -->
            <div class="fans-testStats">
                <h2>¿Qué tipo de fan eres?</h2>
                <img src="presentacion/presentacion-paraFans-testStats.png" alt="Test Stats">
            </div>
        
            <!-- Objeto 2: fans-testResults -->
            <div class="fans-testResults">
                <h2>Nombre del tipo de fan</h2>
                <p>Una descripción del tipo de fan, quizás un dibujo tipo portada por aquí también.</p>
                <img src="iconos/icono-avatarTemporal.svg" alt="Avatar Temporal" width="250" height="500">
            </div>
        </div>

        <h1 class="fans-seccionAmarilla-titulo"> Basado en tus gustos</h1>

        <div class="fans-seccionAmarilla-Recomendaciones">
            <!-- Objeto 1: fans-seccionAmarilla-RecomendacionesImage -->
            <div class="fans-seccionAmarilla-RecomendacionesImage">
                <img src="images/nirvana.png" alt="Imagen de la banda Nirvana">
            </div>
        
            <!-- Objeto 2: fans-seccionAmarilla-RecomendacionesInformacion -->
            <div class="fans-seccionAmarilla-RecomendacionesInformacion">
                <h3 class="banda-titulo">Nirvana</h3>
                <p class="banda-texto">Banda icónica del grunge de los años 90. Conocidos por su álbum "Nevermind".</p>
                <p class="banda-tag">#Grunge, [Formada en 1987]</p>
                <button class="visitar-boton">Visitar</button>
            </div>
         </div>
         <div class="fans-seccionAmarilla-Recomendaciones">
            <!-- Objeto 1: fans-seccionAmarilla-RecomendacionesImage -->
            <div class="fans-seccionAmarilla-RecomendacionesImage">
                <img src="images/los-piojos.png" alt="Imagen de la banda Nirvana">
            </div>
        
            <div class="fans-seccionAmarilla-RecomendacionesInformacion">
                <h3 class="banda-titulo">Los piojos</h3>
                <p class="banda-texto">Banda icónica del grunge de los años 90. Conocidos por su álbum "Nevermind".</p>
                <p class="banda-tag">#Grunge, [Formada en 1987]</p>
                <button class="visitar-boton">Visitar</button>
            </div>
         </div>
         <div class="fans-seccionAmarilla-Recomendaciones">
            <!-- Objeto 1: fans-seccionAmarilla-RecomendacionesImage -->
            <div class="fans-seccionAmarilla-RecomendacionesImage">
                <img src="images/the-strokes.png" alt="Imagen de la banda Nirvana">
            </div>
        
            <div class="fans-seccionAmarilla-RecomendacionesInformacion">
                <h3 class="banda-titulo">The Strokes</h3>
                <p class="banda-texto">Banda icónica del grunge de los años 90. Conocidos por su álbum "Nevermind".</p>
                <p class="banda-tag">#Grunge, [Formada en 1987]</p>
                <button class="visitar-boton">Visitar</button>
            </div>
         </div>

         <h1 class="fans-seccionAmarilla-titulo"> Te damos un regalo por hacer el test </h1>
        <div class="partial-Section4">
                 <div class="partial-productDisplaySection">
            <!-- Primer objeto -->
            <div class="partial-productDisplay1">
                <img src="productos/productos-campera1.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-campera2.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-gorra.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-pick.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-remera1.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-remera2.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-stickers.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
            <div class="partial-productDisplay1">
                <img src="productos/productos-taza.png" alt="Producto 1">
                <div class="fans-precio">PRECIO</div>
            </div>
        
        </div>
        </div>
    </div>

    
        <!-- Pie de página -->
           <%- include('partials/footer') %>
    
</body>

</html>
