<!DOCTYPE html>
<html>

<%- include('partials/head',{ title : 'HOME' }) %>



    <body class="home__body">


        <%- include('partials/header') %>



            <div class="home__bienvenida">
                <img class="img-fluid" src="/img-bienvenida.png" alt="">
            </div>



            <div class="row contenedor__presentaciones">
                <div class="col-6 presentacion__caja1">
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-capsulaTiempo.png" alt=""></a>
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-noticias.png" alt=""></a>
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-paraFans.png" alt=""></a>
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-radio.png" alt=""></a>
                    
                    
                    



                </div>
                <div class="col-6 presentacion__caja2">
                    <a href=""><img class="img-fluid" src="/presentacion/presentacion-artistas.png" alt=""></a>
                    
                </div>
            </div>

<section class="section__black">
    <h2>Iconos del rock</h2>
    <p>Encuentra a los artistas que marcaron la historia</p>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href=""><img src="/images/stones.jpg" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/nirvana.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/Pink_Floyd_logo.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/stones.jpg" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/nirvana.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/Pink_Floyd_logo.png" alt="1"></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <a class="btn btn-dark" href="">Ver lista completa</a>
</section>
<section class="section__red">
    <h2>Clásicos</h2>
    <p>Aquí encontrarás bandas con más de 30 años de trayectoria</p>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href=""><img src="/images/guns.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/rhcp.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/thebeatles.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/guns.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/rhcp.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/thebeatles.png" alt="1"></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <a class="btn btn-dark" href="">Ver lista completa</a>
</section>
<section class="section__white">
    <h2>Orgullo Nacional</h2>
    <p>En esta sección, celebramos el increíble legado musical de Argentina</p>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href=""><img src="/images/la-renga.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/patricio-rey.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/los-piojos.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/la-renga.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/patricio-rey.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/los-piojos.png" alt="1"></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <a class="btn btn-dark" href="">Ver lista completa</a>
</section>
<section class="section__yellow">
    <h2>Indies que apoyamos</h2>
    <p>Destacamos a artistas y grupos emergentes, listos para cautivar tus oídos</p>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href=""><img src="/images/arctic-monkeys.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/tame-impala.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/the-strokes.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/arctic-monkeys.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/tame-impala.png" alt="1"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/the-strokes.png" alt="1"></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <a class="btn btn-dark" href="">Ver lista completa</a>
</section>


<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 3,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
            481: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            769: {
                slidesPerView: 3,
                spaceBetween: 40,
            }
        },
    });
</script>

          <!-- Pie de página -->
          <%- include('partials/footer') %>
    </body>

</html>