<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: 'Grupos' }) %>
    <%- include('partials/header') %>

<body>
    <div class="Noticias-PrimeraSeccion">
    <!-- Primer objeto -->
    <div class="notices-object">
        <h2>Nuevo Matiz</h2>
        <img src="/grupos/grupo-2.png" alt="Imagen del grupo">
    </div>

    <!-- Segundo objeto -->
    <div class="noticesYSuscribe">
    <div class="notices-stats">
        <p>Genero: </p>
        <p>Cantidad de artículos: 4</p>
        <p>Creado el: 11/09/23</p>
        <p>Seguidores: 50</p>
        <p>Favoritos: 20</p>
        </div>
        <div class="notices-Suscribete">
        <h2>Suscríbete</h2>
        <p>Regístrate con tu correo electrónico para recibir noticias y actualizaciones</p>
        <button>Suscribirse</button>
        <p>Respetamos tu privacidad</p>
        </div>
</div>

    <!-- Tercer objeto -->
    <div class="notices-writers">
        <h2>Escritores</h2>
        <div class="writer">
            <img src="/iconos/icono-avatarTemporal.svg" alt="Imagen de escritor">
            <p>Escritor 1</p>
        </div>
        <div class="writer">
            <img src="/iconos/icono-avatarTemporal.svg" alt="Imagen de escritor">
            <p>Escritor 2</p>
        </div>

        <div class="writer">
            <img src="/iconos/icono-avatarTemporal.svg" alt="Imagen de escritor">
            <p>Escritor 3</p>
        </div>
    </div>
</div>

<h5>¡Noticias de las nuevas bandas emergentes y aportes importantes al genero que merecen mucho mas reconocimiento del que consiguen!</h5>

<div class="noticias-grupo">
    <!-- Primera noticia -->
    <div class="noticias-individual">
        <img src="/noticias/noticia1.png" alt="Imagen de la noticia">
        <p>11/08/19</p>
        <h2>Título de la publicación de blog uno</h2>
    </div>

    <!-- Segunda noticia -->
    <div class="noticias-individual">
        <img src="/noticias/noticia1.png" alt="Imagen de la noticia">
        <p>12/08/19</p>
        <h2>Título de la publicación de blog dos</h2>
    </div>

    <!-- Tercera noticia -->
    <div class="noticias-individual">
        <img src="/noticias/noticia1.png" alt="Imagen de la noticia">
        <p>13/08/19</p>
        <h2>Título de la publicación de blog tres</h2>
    </div>

    <!-- Cuarta noticia -->
    <div class="noticias-individual">
        <img src="/noticias/noticia1.png" alt="Imagen de la noticia">
        <p>14/08/19</p>
        <h2>Título de la publicación de blog cuatro</h2>
    </div>

    <!-- Quinta noticia -->
    <div class="noticias-individual">
        <img src="/noticias/noticia1.png" alt="Imagen de la noticia">
        <p>14/08/19</p>
        <h2>Título de la publicación de blog cinco</h2>
    </div>

    <!-- Sexta noticia -->
    <div class="noticias-individual">
        <img src="/noticias/noticia1.png" alt="Imagen de la noticia">
        <p>14/08/19</p>
        <h2>Título de la publicación de blog seis</h2>
    </div>

    
</div>




</body>

          <!-- Pie de página -->
          <%- include('partials/footer') %>
</html>
