<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: 'Grupos' }) %>
    <%- include('partials/header') %>

<body>
    <div class="notices">
        <!-- Primer objeto: notice-info -->
        <div class="notice-info">
          <p>11/09/23</p>
          <p>Blog del grupo 1</p>
        </div>
      
        <!-- Segundo objeto: notice-title -->
        <div class="notice-title">
          <h1>Titulo de la publicación de blog uno</h1>
          <div class="notice-favoritos">
          <img src="/iconos/icono-favorito.svg" alt="Emoji">
          <p>10</p>
          </div>
        </div>
      
        <!-- Tercer objeto: notice-image -->
        <div class="notice-image">
          <img src="/noticias/noticia1.png" alt="Imagen de la noticia">
        </div>
      
        <!-- Cuarto objeto: notice-text -->
        <div class="notice-text">
          <p>
            Roberto Musso la hace simple cuando se le pide una explicación sobre el éxito de Raro, el disco que catapultó en 2006 a El Cuarteto de Nos, el grupo que este uruguayo clase ’62 lidera desde 1980.
      
            "El disco estaba bueno, los cortes estaban buenos, la producción estaba buena y la tapa estaba buena. Esos datos objetivos. Después, a la gente le gustó y empezó una nueva etapa para nosotros", dice el cantante y guitarrista desde su hogar montevideano.
      
            Todo fue así, tal cual. Pero ya que está dispuesto por Zoom para celebrar su 15° aniversario, vale indagar si Raro, un disco de sonido claro - rabioso y letras existenciales disparadas como ráfagas, era la última bala de El Cuarteto de Nos para impactar en el público masivo.
          </p>
        </div>
      
        <!-- Quinto objeto: notice-writer -->
        <div class="notice-writer">
          <img src="/iconos/icono-avatarTemporal.svg" alt="Imagen del escritor" width="25" height="25">
          <p>Nombre Escritor1</p>
        </div>
      
        <!-- Sexto objeto: notice-links -->
        <div class="notice-links">
          <h2 class="link-start">< Titulo de la publicación de blog uno</h2>
          <h2 class="link-end">Titulo de la publicación de blog dos ></h2>
        </div>
      </div>
      



</body>

          <!-- Pie de página -->
          <%- include('partials/footer') %>
</html>
