<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<footer>
  <div class="footer-container">
    <div class="footer-object">
      <img src="iconos/icono-ficha.svg" alt="Ubicación">
      <div class="title-container">
        <h3>Ubicación</h3>
        <p>Calle ejemplo, 123</p>
        <p>Buenos Aires, BA 12345</p>
      </div>
    </div>

    <div class="footer-object">
      <img src="iconos/icono-reloj.svg" alt "Horario">
      <div class="title-container">
        <h3>Horario</h3>
        <p>Lunes a viernes</p>
        <p>De 6:30 a.m a 11 p.m</p>
      </div>
    </div>

    <a href="./about.ejs" class="footer-object">
      <img  class="contacto" src="iconos/icono-email.svg" alt="Contacto">
      <div class="title-container">
        <h3>Contacto</h3>
        <p>correo ejemplo@gmail.com</p>
        <p>1234.5555(55)</p>
      </div>
    </a>

    <a href="about.html" class="footer-object">
      <img src="iconos/icono-diamante.svg" alt="¿Quiénes somos?">
      <div class="title-container">
        <h3>Conocenos</h3>
      </div>
    </a>
  </div>
</footer>

</body>
</html>
