<footer>
    <section class="footer__section">
        <h3>ATENCION AL CLIENTE</h3>
        <article class="footer__section--preguntas">
            <ul>
                <li>Quienes Somos?</li>
                <li>Preguntas Frecuentes</li>
                <li>Contactanos</li>
            </ul>
        </article>

        <article class="footer__section--iconos">
            <ul>
                <li><a href=""><i class="fa-brands fa-facebook fa-lg"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram fa-lg"></i></a></li>
                <li><a href=""><i class="fa-brands fa-discord fa-lg"></i></a></li>
                <li><a href=""><i class="fa-brands fa-twitter fa-lg"></i></a></li>
            </ul>
        </article>
        <div class="footer__copyright">
            <p>Copyright Creatives Diamond 2023</p>
        </div>
    </section>



</footer>