<header class="header">
    <div class="header__logo">
        <a href="/"><img src="/logoCreativeSouls.png" alt="LOGO"></a>
    </div>
 <nav class="header__navbar">
    <ul class="header__navbar__ul-1">
        <li><a href=""><img width="45" src="iconos/icono-notaMusical.svg" alt=""></a></li>
        <li><a href=""><img width="45" src="iconos/icono-guitarraElectrica.svg" alt=""></a></li>
        <li><a href=""><img width="45" src="iconos/icono-microfono.svg" alt=""></a></li>
        <li><a href=""><img width="45" src="iconos/icono-radio.svg" alt=""></a></li>
        <li><a href=""><img width="45" src="iconos/icono-notaMusical.svg" alt=""></a></li>
    </ul>
    <ul class="header__navbar__ul-2">
        <li><a href=""><img width="45" src="iconos/icono-carrito.svg" alt=""></a></li>
        <li><a href=""><img width="45" src="iconos/icono-avatarTemporal.svg" alt=""></a></li>

    </ul>
 </nav>
         
</header>
