<header class="header">
    <div class="header__logo">
        <a href="/"><img src="/images/logo.jpg" alt="LOGO"></a>
    </div>
    <div class="header__burger">
        <i class="fa-solid fa-bars"></i>
    </div>
    <nav class="header__navbar">
        <ul class="header__navbar__ul">
            <li><a href="/products/vinilos">Vinilos</a></li>
            <li><a href="/products/indumentaria">Indumentaria</a></li>
            <li><a href="/products/shows">Próximos Conciertos</a></li>
            <li><a href="/users/login">Iniciar sesión</a></li>
            <li><a href="/users/register">Registrarme</a></li>
        </ul>
    </nav>
    <div class="header__container_icons">
        <a href="/users/profile"><i class="fa-solid fa-user"></i></a>
        <a href="/users/cart"><i class="fa-solid fa-cart-shopping"></i></a>

    </div>




</header>