<div class="modal fade" id="agregarBandaModal" tabindex="-1" aria-hidden="true" aria-labelledby="agregarBandaModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar una Banda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="nombreBanda" class="form-label">Nombre de la Banda</label>
                    <input type="text" class="form-control" id="nombreBanda">
                </div>
                <div class="mb-3">
                    <label for="historiaBanda" class="form-label">Historia</label>
                    <textarea class="form-control" id="historiaBanda" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="mainImageBanda" class="form-label">Main Image</label>
                    <input type="file" class="form-control" id="mainImageBanda">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>