<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
    <div class="avatar">
        <div class="cabeza">
            <!-- Carrusel para la cabeza -->
            <div class="cabeza-sweeper">
                <img src="/avatar/cabeza/defaultCabeza.png" alt="Cabeza">
                <img src="/avatar/cabeza/cabeza1.png" alt="Cabeza 1">
                <img src="/avatar/cabeza/cabeza2.png" alt="Cabeza 2">
                <img src="/avatar/cabeza/cabeza3.png" alt="Cabeza 3">
                <img src="/avatar/cabeza/cabeza4.png" alt="Cabeza 4">
                <img src="/avatar/cabeza/cabeza5.png" alt="Cabeza 5">
                <img src="/avatar/cabeza/cabeza6.png" alt="Cabeza 6">
                <img src="/avatar/cabeza/cabeza7.png" alt="Cabeza 7">
            </div>
            <div class="cabeza-controls">
                <button class="prev">Anterior</button>
                <button class="next">Siguiente</button>
            </div>
        </div>
        <div class="cara">
            <!-- Carrusel para la cara -->
            <div class="cara-sweeper">
                <img src="/avatar/cara/defaultCara.png" alt="Cara">
                <img src="/avatar/cara/cara1.png" alt="Cara 1">
                <img src="/avatar/cara/cara2.png" alt="Cara 2">
                <img src="/avatar/cara/cara3.png" alt="Cara 3">
                <img src="/avatar/cara/cara4.png" alt="Cara 4">
                <img src="/avatar/cara/cara5.png" alt="Cara 5">
            </div>
            <div class="cara-controls">
                <button class="prev">Anterior</button>
                <button class="next">Siguiente</button>
            </div>
        </div>
        <div class="sombrero">
            <!-- Carrusel para el sombrero -->
            <div class="sombrero-sweeper">
                <img src="/avatar/sombrero/defaultGorro.png" alt="Gorro">
                <img src="/avatar/sombrero/gorro1.png" alt="Gorro 1">
                <img src="/avatar/sombrero/gorro2.png" alt="Gorro 2">
                <img src="/avatar/sombrero/gorro3.png" alt="Gorro 3">
            </div>
            <div class="sombrero-controls">
                <button class="prev">Anterior</button>
                <button class="next">Siguiente</button>
            </div>
        </div>
        <div class="torso">
            <!-- Carrusel para el torso -->
            <div class="torso-sweeper">
                <img src="/avatar/torso/defaultTorso.png" alt="Torso">
                <img src="/avatar/torso/torso1.png" alt="Torso 1">
                <img src="/avatar/torso/torso2.png" alt="Torso 2">
                <img src="/avatar/torso/torso3.png" alt="Torso 3">
                <img src="/avatar/torso/torso4.png" alt="Torso 4">
                <img src="/avatar/torso/torso5.png" alt="Torso 5">
            </div>
            <div class="torso-controls">
                <button class="prev">Anterior</button>
                <button class="next">Siguiente</button>
            </div>
        </div>
    </div>
    

</body>
</html>
