<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form id="bandForm" action="" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre de la Banda</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>

                            <div class="mb-3">
                                <label for="category" class="form-label">Categoría</label>
                                <input type="text" class="form-control" id="category" name="category">
                            </div>
                            <div class="mb-3">
                                <label for="phrase" class="form-label">Frase</label>
                                <input type="text" class="form-control" id="phrase" name="phrase">
                            </div>
                            <div class="mb-3">
                                <label for="dateFounded" class="form-label">Fecha de Inicio</label>
                                <input type="date" class="form-control" id="dateFounded" name="dateFounded">
                            </div>
                            <div class="mb-3">
                                <label for="dateEnded" class="form-label">Fecha de Finalización</label>
                                <input type="date" class="form-control" id="dateEnded" name="dateEnded">
                            </div>
                            <div class="mb-3">
                                <label for="vigente" class="form-label">Banda Vigente</label>
                                <input type="checkbox" id="vigente" name="vigente" onclick="toggleFechaFinalizacion()">
                            </div>
                            <div class="mb-3">
                                <label for="totalShows" class="form-label">Total de Conciertos</label>
                                <input type="number" class="form-control" id="totalShows" name="totalShows">
                            </div>
                            <div class="mb-3">
                                <label for="nextShows" class="form-label">Próximo Concierto</label>
                                <input type="date" class="form-control" id="nextShows" name="nextShows">
                            </div>
                            <div class="mb-3">
                                <label for="history" class="form-label">Historia</label>
                                <textarea class="form-control" id="history" name="history"
                                    rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="resume" class="form-label">Resumen</label>
                                <textarea class="form-control" id="resume" name="resume" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="mainImage" class="btn btn-secondary">Imagen de la Banda</label>
                                <input hidden type="file" class="form-control" id="mainImage" name="mainImage">
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary" id="enviarForm">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>


            <script>
                function toggleFechaFinalizacion() {
                    const fechaFinalizacion = document.getElementById("fechaFinalizacion");
                    const vigenteCheckbox = document.getElementById("vigente");

                    if (vigenteCheckbox.checked) {
                        fechaFinalizacion.disabled = true;
                    } else {
                        fechaFinalizacion.disabled = false;
                    }
                }
            </script>

            <%- include('../partials/footer') %>

    </body>

</html>