<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title : 'ADMIN' }) %>

    <body>
        <%- include('../partials/header') %>


            <!-- <main class="form__main">
        <div class="form__title">
            <h1>Dashboard</h1>
        </div>
       <div class="admin-buttons-container">
        <button class="form__button-submit"><a href="/products/add">Crear un nuevo Producto</a></button>
        <button class="form__button-submit"><a href="/products/edit/:id">Editar un Producto</a></button>
       </div>
    </main> -->
            

            <%- include('../partials/footer') %>


                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                    crossorigin="anonymous"></script>

                <%- include('../partials/adminSearchScript') %>


    </body>

</html>