.avatar {
    position: relative;
}

.cabeza-sweeper, .cara-sweeper, .sombrero-sweeper, .torso-sweeper {
    position: absolute;
}

.cara-sweeper, .sombrero-sweeper {
    z-index: 1;
}

.sombrero-sweeper {
    top: 0;
    left: 0; 
}

.cabeza-sweeper {
    top: 0;
    left: 0; 
    max-width: 200px;
    max-height: auto;
}

.cara-sweeper{
    top: 0;
    left: 0; 
}

.torso-sweeper {
    top: 0;
    left: 0; 
}

.sweeper{
    max-width: 200px;
    max-height: auto;
}
