.avatar-sweeper img {
    max-width: 150px;
    height: auto;
}

.avatar-sweeper {
    padding: 0 50px;
    overflow: hidden;
}

.avatar-sweeper.slick-initialized.slick-slider {
    position: absolute;
    top: 75px;
    left: 780px;
    width: 241px;
}

.avatar-carousel {
    display: flex; /* Cambiamos esta clase */
    align-items: center; /* Añadimos esto */
    justify-content: space-between; /* Añadimos esto */
    width: 420px;
}

.avatar-sweeper {
    flex: 1;
    overflow: hidden;
    display: flex;
}

.avatar-sweeper img {
    max-width: 150px;
    height: auto;
}

.avatar-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar-controls button {
    width: 50px;
    margin: 5px 0;
}
