<!DOCTYPE html>
<html>
<%- include('../partials/head',{ title : 'CARRITO' }) %>

    <body>
        <%- include('../partials/header') %>



            <main class="col-12">
                <div class="col-10">
                    <h2> Música en tu carrito </h2>
                </div>

                <div class="container-cart-box">
                    <div id="cartContainer" class="col-8 bg-dark"></div>

                </div>


            </main>

            <%- include('../partials/footer') %>
                <script src="/javascripts/cart.js"></script>

             

    </body>

</html>