<!DOCTYPE html>
<html>

<%- include('partials/head') %>

<body class="home__body">
    <%- include('partials/header') %>



<div class="home__body__section--title">
    <h2>
        Próximamente: Perfil de Usuario
    </h2>
</div>
    </section>
    <%- include('partials/footer') %>



</body>

</html>